// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1100px;

// COLORS 

$white: #ffffff;
$black: #000000;
$c-black-light: #1A1A1A;
$c-grey-dark: #383838;
$c-purple: #800080;

$c-orange: #FFC935;

// TYPOGRAPHY

$f-mukta: 'Mukta', sans-serif;
$f-nunito: 'Nunito Sans', sans-serif;
$f-news: 'News Cycle', sans-serif;

// Spacers


