// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1100px;

// COLORS 

$white: #ffffff;
$white04: rgba(255, 255, 255, 0.4);

$black: #000000;
$bg-black: rgba(0, 0, 0, 0.4);


$bg-header-gradient: linear-gradient(to left, #243B55, #141E30); 
$bg-gradient: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// TYPOGRAPHY

$f-roboto: 'Roboto', sans-serif;
$f-opensans: 'Open Sans', sans-serif;
// Spacers


