*, 
*:before, 
*:after { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html,
body {
	padding: 50px 0 0 0;
	background-color: $white;
	color: $white;
	font-family: $f-roboto; 
}

.container {
	width: 75%;
	max-width: 450px;
	margin: 0 auto;
}

.btn {
	background: none;
	border: 2px solid $white;
	border-radius: 20%;
	font-size: 30px;
	width: 45px;
	height: 45px;
	
	&--add {
	}

	&--delete {

	}
}


.todo {
	// width: 75%;
	max-width: 450px;
	margin: 0 auto;
	background: $bg-gradient;
	border-radius: 10px;
	padding: 25px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}



.form {
	$f: &;
	width: 100%;
	margin: 0 0 50px 0;

	display: flex;
	justify-content: space-between;
	

	&__group {
		position: relative;
		width: 100%;
	}

	&__label {
		position: absolute;
		top:  50%;
		left: 5px;
		transform: translateY(-50%);
		transition: transform 0.2s ease-in-out;
	}



	&__input {
		background: transparent;
		width: 80%;
		height: 45px;
		border: none;
		border-bottom: 1px solid $white;

		&:focus {
			outline: none;

			+#{$f}__label {
				transform: translate(-5px, -150%);
				opacity: 0.6;
			}
		}
	}
}

.list {

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin: 0 0 25px 0;
	}

	&__title {
		display: inline-block;
		width: 100%;
	}

	&__search {
		width: 50%;
		margin: 0;
	}




}


.task {
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	// opacity: 0.9;
	
	&__content {
		width: 75%;
	}
	
	&__date {
		font-family: $f-opensans;
		display: block;
		margin: 10px 0 0 0;
		width: 100%;
		font-size: 12px;
		opacity: 0.7;
	}
}